@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
body {
	font-family: "Poppins", sans-serif;
}

body {
	/* overflow-x: hidden; */
	background-size: cover;
}

h1 {
	font-weight: 700;
}

.form-control {
	width: 260px;
}

.forgot-password-link,
.signin-link {
	font-size: 10px;
	color: black;
	width: 100%;
	text-align: right;
	text-decoration: none;
}

.register-link {
	font-size: 12px;
}
.register-link span {
	font-weight: bold;
}

.signin-link span {
	font-weight: bold;
}
.shake-me {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
	transform: translate3d(0, 0, 0);
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}

.search::placeholder {
	color: #ffffff !important;
}

.search:focus {
	outline: none;
}

.nav-android {
	display: none;
}
.home-android {
	border: none;
}

.bg-abu-abu {
	background-color: #d9d9d9;
}

@media only screen and (max-width: 720px) {
	.notice {
		display: flex;
		position: absolute;
	}
}

.card-img-top {
	width: 100%;
	height: auto;
	object-fit: cover;
}
.card-title {
	font-size: 15px;
}
.product {
	cursor: pointer;
}
.img-product {
	width: 250px;
	height: 250px;
	object-fit: cover;
}
.img-product-cart {
	width: 150px;
	height: 150px;
	object-fit: cover;
}
.img-varian {
	width: 100px;
	height: 100px;
	object-fit: cover;
}
input[type="checkbox"] {
	transform: scale(1.5);
}

#container {
	width: 100px;
	height: 100px;
}

@keyframes animation {
	0% {
		stroke-dasharray: 1 98;
		stroke-dashoffset: -105;
	}
	50% {
		stroke-dasharray: 80 10;
		stroke-dashoffset: -160;
	}
	100% {
		stroke-dasharray: 1 98;
		stroke-dashoffset: -300;
	}
}

#spinner {
	transform-origin: center;
	animation-name: animation;
	animation-duration: 1.2s;
	animation-timing-function: cubic-bezier;
	animation-iteration-count: infinite;
}
body.admin {
	font-family: "PT Serif", serif !important;
}
tbody > tr > td {
	padding: 0 !important;
	padding-top: 12px !important;
	padding-bottom: 12px !important;
}

tbody > tr > td > div {
	display: flex;
	align-items: center;
	padding-top: auto !important;
	padding-bottom: auto !important;
	padding-right: 24px !important;
	height: 100px !important;
	background-color: #ffffff !important;
	box-shadow: rgba(1, 1, 1, 0.7);
}

tbody > tr > td.first > div {
	padding-left: 12px;
	padding-right: 12px;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}
tbody > tr > td.last > div {
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}

ul {
	list-style: none;
}

.modal-body > ul > div > li::before {
	content: "•";
	color: #0d6efd !important;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}
